<swiper
  [config]="swiperConfig"
  [effect]="'fade'"
  style="
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #ea5959;
    --swiper-pagination-bullet-size: 16px;
  "
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let slide of recentProjectSlides">
    <img *ngIf="slide.imageUrl" [src]="slide.imageUrl" [alt]="slide.imageAlt || slide.name" />
    <div class="content">
      <h1>{{ slide.name }}</h1>
      <p>{{ slide.description }}</p>
    </div>
  </ng-template>
</swiper>
