@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(./Playfair_Display/static/PlayfairDisplay-Medium.ttf);
  unicode-range: U+0061 - U+007A;
}
@font-face {
  font-family: "Prompt-Regular";
  src: url(./Prompt/Prompt-Regular.ttf);
  unicode-range: U+0E00 - U+0E7F;
}
@font-face {
  font-family: "GFSDidot-Regular";
  src: url(./GFS_Didot/GFSDidot-Regular.ttf);
}

@font-face {
  font-family: "tempnou";
  src: url(./Temps-Nouveau/tempnou.ttf);
  unicode-range: U+0026;
}